pathlib
pandas
numpy
matplotlib
seaborn
joblib
scikit-learn
wordcloud
pyLDAvis
spacy>=3.5.0,<3.6.0
de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.5.0/de_core_news_sm-3.5.0.tar.gz